@section scripts
{
    @Scripts.Render("~/bundles/components")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="product-list-container"></div>
            <div id="order-form-container"></div>
        </div>
        <div class="col-md-4">
            <div id="cart-container"></div>
            <div id="confirmation-modal-container"></div>
        </div>        
    </div>
</div>