body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.product-list .item a {
  cursor: pointer;
}
.product-list .item a:hover {
  text-decoration: none;
}
#product-details-modal .product-details h3 {
  color: #5bc0de;
  text-align: center;
}
#product-details-modal .product-details h1 {
  color: crimson;
}
#product-details-modal .product-details .image-wrapper img {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
}
.paging button {
  margin: 0 5px;
}
.paging button.active {
  font-weight: bold;
}
.cart #count {
  font-weight: bold;
  margin: 0 5px;
}
.cart button {
  margin: 0 5px;
}
#order-form .button-area button {
  margin-right: 5px;
}